@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', 'Poppins', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    border-radius: 1em;
    padding: 1.25em;
    text-align: center;
    width: min-content;
}

.QR-Image img{
    border-radius: 1em;
    width: 20em;
}

.QR-Title {
    font-size: .8rem;
}

.QR-Description p{
    font-size: 1.2rem;
    color: hsl(220, 15%, 55%);
}